# Ejercicios de Python - Fundamentos

## 1. Variables y Tipos de Datos

1. Crea una variable que almacene tu nombre y otra tu edad. Imprime ambas variables.

In [1]:
x = "Julio"
print(x)

Julio

2. Declara una variable con un número decimal y otra con un entero. Realiza una operación de suma entre ellas.

In [3]:
x = 2.5
y = 5
print(x + y)

7.5

3. Convierte una cadena de texto que represente un número entero en un número entero real.

In [5]:
x = "100"
y = int(x)
print(x)

100

4. Muestra el tipo de la variable que has creado en el ejercicio anterior.

In [9]:
print(type(y))

<class 'int'>

5. Crea una variable booleana y cambia su valor de `True` a `False` y viceversa.

In [13]:
x = True
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'bool'>

## 2. Operadores

6. Realiza una operación de suma, resta, multiplicación y división con dos números.

In [19]:
x = 7
y = 5
print(f"x + y =", x + y)
print(f"x - y =", x - y)
print(f"x * y =", x * y)
print(f"x / y =", x / y)

x + y = 12
x - y = 2
x * y = 35
x / y = 1.4

7. Crea una variable y utiliza el operador de módulo para obtener el residuo de una división.

In [39]:
x = 100
y = 7
z=2
print(f"El resto de dividir {x} / {y} = {x % y}")

El resto de dividir 100 / 7 = 2

8. Utiliza el operador de incremento (`+=`) para sumar 5 a una variable que empiece en 0.

In [41]:
x = 0
x += 5
print(x)

5

9. Utiliza el operador de comparación para verificar si dos números son iguales y muestra el resultado.

In [43]:
x = 25
y = 25
z = 33
print (x == y)
print (x == z)

True
False

10. Usa el operador `and` para verificar si dos condiciones son verdaderas al mismo tiempo.

In [51]:
x = 25
y = 25
z = 33
print((x == y) and (x == z))

False

## 3. Condicionales (`if`, `elif`, `else`)

11. Escribe un programa que determine si un número es positivo, negativo o cero.

In [58]:
for y in range(3):
    x = int(input("Numero:")
    if x > 0:
        print("positivo")
    elif x < 0:
        print("negativo")
    else:
        print("cero")

Numero: 5

positivo

Numero: -3

negativo

Numero: 0

cero

12. Escribe un programa que pida la edad de una persona y determine si puede votar (mayoría de edad = 18).

In [64]:
for y in range(3):
    x = int(input("Edad:"))
    if x > 18:
        print("mayor de edad")
    else:
        print("menor de edad")

Edad: 20

mayor de edad

Edad: 14

menor de edad

Edad: 0

menor de edad

13. Realiza un programa que verifique si un número es divisible entre 3 y 5.

In [70]:
for y in range(2):
    x = int(input("Numero:"))
    if ((x % 3) == 0 and (x % 5) == 0):
        print("Numero divisible entre 3 y 5")
    else:
        print("Numero No divisible entre 3 y 5")

Numero: 20

Numero No divisible entre 3 y 5

Numero: 30

Numero divisible entre 3 y 5

14. Crea un programa que pida una nota de un estudiante y determine si la calificación es "A", "B", "C" o "F" según el puntaje.

In [78]:
for y in range(4):
    x = int(input("Nota:"))
    if x >= 9:
        print("A")
    elif x >= 7:
        print("B")
    elif x >= 5:
        print("C")
    else:
        print("F")

Nota: 9

A

Nota: 7

B

Nota: 5

C

Nota: 3

F

15. Realiza un programa que pida un número e indique si es par o impar.

In [80]:
for y in range(2):
    x = int(input("Numero:"))
    if ((x % 2) == 0):
        print("Numero par")
    else:
        print("Numero impar")

Numero: 20

Numero par

Numero: 23

Numero impar

## 4. Bucles (`for`, `while`)

16. Escribe un programa que imprima los números del 1 al 10 utilizando un bucle `for`.

In [17]:
lista = ""
for x in range(100):
    lista = lista + " " + str(x + 1)
print(lista)

 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

17. Escribe un programa que imprima los números del 10 al 1 utilizando un bucle `while`.

In [96]:
x = 10
while x > 0:
    print(x)
    x -=1

10
9
8
7
6
5
4
3
2
1

18. Crea un programa que calcule la suma de los primeros 100 números naturales.

In [107]:
suma = 0
for x in range(100):
    suma += x + 1
print(suma)

5050

19. Escribe un programa que imprima los elementos de una lista utilizando un bucle `for`.

In [129]:
lista = [1, 2, 3, 'a', 'b', 'c']
print(type(lista))
lista_str = ""
for i in range(len(lista)):
    lista_str += str(lista[i]) + " "
print(lista_str)

<class 'list'>
1 2 3 a b c

20. Escribe un programa que cuente cuántas veces aparece el número 5 en una lista dada.

In [131]:
lista = [1, 5, 3, 5, 1, 3, 5, 3, 1]
lista.count(5)

3

## 5. Funciones

21. Escribe una función que reciba dos números y devuelva su suma.

In [137]:
def suma(a , b):
    return a + b
suma(2,3)

5

22. Crea una función que reciba una cadena de texto y la imprima en mayúsculas.

In [7]:
def mayusculas(texto):
    print(texto.upper())
    
mayusculas("hola, esto es un ejemplo")

HOLA, ESTO ES UN EJEMPLO

23. Escribe una función que reciba un número y determine si es un número primo.

In [51]:
def esPrimo(numero):
    
    def esDivisible(n, d):
        if ((n % d) == 0):
            return True
        else:
            print(f"numero={n} divisor={d} No es divisible")
            return False

    primo = True
    for x in range(numero):
        divisor = x+1  #como x empieza en cero, le sumamos uno para calcular el divisor
        if (divisor==1 or divisor==numero): #un numero siempre es divisible entre 1 y entre si mismo, saltamos esos dos casos
            print(f"divisor={divisor}, no se comprueba")
            continue
        if esDivisible(numero, divisor):
            primo = False
            print(f"{numero} es divisible por {divisor}, terminamos el bucle")
            break
    return primo          
    
n = int(input("Numero: "))
if esPrimo(n):
    print("es Primo")
else:
    print("no es Primo")

Numero:  17

divisor=1, no se comprueba
numero=17 divisor=2 No es divisible
numero=17 divisor=3 No es divisible
numero=17 divisor=4 No es divisible
numero=17 divisor=5 No es divisible
numero=17 divisor=6 No es divisible
numero=17 divisor=7 No es divisible
numero=17 divisor=8 No es divisible
numero=17 divisor=9 No es divisible
numero=17 divisor=10 No es divisible
numero=17 divisor=11 No es divisible
numero=17 divisor=12 No es divisible
numero=17 divisor=13 No es divisible
numero=17 divisor=14 No es divisible
numero=17 divisor=15 No es divisible
numero=17 divisor=16 No es divisible
divisor=17, no se comprueba
es Primo

24. Crea una función que reciba una lista y devuelva la suma de todos sus elementos.

In [5]:
def sumaLista(lista):
    suma = 0
    for x in lista:
        suma = suma + x
    print("La suma es: ", suma)

sumaLista([1,2,3,4,5,6])

La suma es:  21

25. Escribe una función que reciba un número entero y devuelva el factorial de ese número.

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n = int(input("Numero: "))
if n >= 0:
    print("El factorial de {n} es:" ,factorial(n))

Numero:  4

El factorial de {n} es: 24

## 6. Listas

26. Crea una lista con 5 números y muestra el número mayor.

In [35]:
lista = [5,8,21,3,15]
lista.sort(reverse=True)
print("El numero mayor es:", lista[0])

#otra forma con bucle for
lista = [5,8,21,3,15]
mayor = 0
for x in lista:
    if x > mayor:
        mayor = x
print("El numero mayor es:", mayor)

El numero mayor es: 21
El numero mayor es: 21

27. Añade un nuevo número a una lista y muestra la lista actualizada.

In [23]:
lista = [1,2,3,4,5]
print(lista)
lista.append(6)
print(lista)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

28. Elimina un elemento de una lista e imprime la lista sin ese elemento.

In [31]:
lista = [1,2,3,4,5]
print(lista)
x = lista.pop()
print("Elemento eliminado:",x)
print(lista)

[1, 2, 3, 4, 5]
Elemento elimiinado: 5
[1, 2, 3, 4]

29. Ordena una lista de números de menor a mayor.

In [ ]:
lista = [5,8,21,3,15]
lista.sort(reverse=True)
print("El numero mayor es:", lista[0])

30. Crea una lista de cadenas y conviértela en una lista de su longitud.

In [55]:
lista = ["cero", "uno", "dos", "tres", "cuatro", "cinco", "seis", "siete", "ocho", "nueve"]
listaLongitud = [None]*10  #crea una lista vacia de 10 posiciones
for i in range(len(lista)):
    listaLongitud[i] = len(lista[i])
print(lista)
print(listaLongitud)

['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
[4, 3, 3, 4, 6, 5, 4, 5, 4, 5]

## 7. Tuplas

31. Crea una tupla con 3 elementos y muestra el primer y último elemento.

In [63]:
tupla = (3,4,5)
print(tupla[0])
print(tupla[len(tupla)-1])

3
5

32. Crea una tupla con números y calcula la suma de todos sus elementos.

In [73]:
tupla = (1,2,3,4,5,6,7)
suma = 0
for x in tupla:
    suma = suma + x
print("La suma es: ", suma)

La suma es:  28

33. Comprueba si un elemento está presente en una tupla.

In [100]:
tupla = (1,2,3,4,5,6,7)
n = int(input("Numero:"))

#usando el operador 'in'
if n in tupla:
    print("La tupla contiene el numero ", n)

#usando la funcion 'index'
try:
    i = tupla.index(n) 
    existe = True
except ValueError:
    existe = False  # Si salta una excepcion, el elemento no está
if esta:
    print("La tupla contiene el numero ", n)

#usando un bucle for              
for x in tupla:
    if (x == n):
        print("La tupla contiene el numero ", n)

Numero: 5

La tupla contiene el numero  5
La tupla contiene el numero  5
La tupla contiene el numero  5

34. Convierte una lista en una tupla y viceversa.

In [109]:
lista = [1,2,3,4,5,6,7]
tupla = tuple(lista)
print(tupla)
print(type(tupla))
###
tupla = (1,2,3,4,5,6,7,8,9)
lista = list(tupla)
print(lista)
print(type(lista))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

35. Crea una tupla de tuplas y accede a un elemento dentro de una tupla interna.

In [3]:
tupla = ((1,2,3),('a','b','c'),("hola", 34, 12.57))
print(tupla[2][0])  #primer elemento de la tercera tupla

hola

## 8. Diccionarios

36. Crea un diccionario con nombres como claves y edades como valores. Imprime el diccionario.

In [13]:
dic = {'Juan' : 19, 'Pepe' : 21, 'Andrés' : 32}
for clave, valor in dic.items():
    print(f"clave: {clave}  valor: {valor}")
#Se puede hacer directamente con print(dic) pero de la forma anterior se ve el acceso a los elementos individuales desde un bucle

clave: Juan  valor: 19
clave: Pepe  valor: 21
clave: Andrés  valor: 32

37. Añade un nuevo par clave-valor al diccionario e imprime el resultado.

In [35]:
#print(dir(dict))
dic.update({'Javier':12})
print(dic)

{'Juan': 19, 'Pepe': 21, 'Andrés': 32, 'Javier': 12}

38. Elimina una clave del diccionario e imprime el resultado.

In [39]:
x = dic.popitem()
print(x)
print(dic)

('Javier', 12)
{'Juan': 19, 'Pepe': 21, 'Andrés': 32}

39. Verifica si una clave existe en un diccionario.

In [51]:
if 'Juan' in dic.keys():
    print("Si está")
else:
    print("No está")

Si está

40. Crea un diccionario con los días de la semana como claves y las temperaturas como valores. Encuentra la temperatura más alta.

In [113]:
dic = {'lunes' : 19, 'martes' : 21, 'miercoles' : 32, 'jueves' : 15, 'viernes' : 21, 'sabado' : 32, 'domingo' : 28}
print(type(list(dic.values())))
lista = list(dic.values())
lista.sort(reverse=True)
print(lista)
print("El numero mayor es: ", lista[0])

<class 'list'>
[32, 32, 28, 21, 21, 19, 15]
El numero mayor es:  32

## 9. Excepciones (`try`, `except`)

41. Escribe un programa que pida al usuario un número y divídelo por 0, manejando la excepción de división por cero.

In [3]:
n = int(input("Número: "))
try:
    y = n / 0
except ZeroDivisionError:
    print("Error, division por cero!")

Número:  4

Error, division por cero!

42. Crea un programa que reciba un valor del usuario y maneje el error si el valor no es un número entero.

In [13]:
try:
    n = int(input("Número: "))
except ValueError:
    print("El valor introducido no es un número entero!")

Número:  abc

El valor introducido no es un número entero!

43. Realiza un programa que intente abrir un archivo y maneje la excepción si el archivo no existe.

In [15]:
try:
    fichero = open('ejemplo.txt')
except FileNotFoundError:
    print("El fichero no existe!")

El fichero no existe!

44. Crea un programa que maneje un error si un índice de una lista está fuera de rango.

In [19]:
try:
    lista = [1,2,3,4,5]
    x = lista[10]
except IndexError:
    print("Error: Indice fuera de rango!")

Error: Indice fuera de rango!

45. Escribe un programa que realice una operación aritmética y capture cualquier excepción que pueda ocurrir.

In [25]:
try:
    n = int(input("Número: "))
    y = n / 0
except ZeroDivisionError:
    print("Error, division por cero!")
except ValueError:
    print("Valor introducido no válido!")

Número:

Valor introducido no válido!

## 10. Comprensiones de listas

46. Usa una comprensión de lista para crear una lista con los cuadrados de los números del 1 al 10.

In [11]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista2 = [n**2 for n in lista]
print(lista2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

47. Usa una comprensión de lista para filtrar los números pares de una lista.

In [15]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista2 = [n for n in lista if (n % 2 != 0)]
print(lista2)

[1, 3, 5, 7, 9]

48. Usa una comprensión de lista para crear una lista con las longitudes de las palabras en una lista de cadenas.

In [20]:
lista = ["cero", "uno", "dos", "tres", "cuatro", "cinco", "seis", "siete", "ocho", "nueve"]
lista2 = [len(x) for x in lista]
print(lista2)

[4, 3, 3, 4, 6, 5, 4, 5, 4, 5]

49. Usa una comprensión de lista para crear una lista de cadenas que contienen la letra "a" de una lista de palabras.

In [5]:
lista = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]
lista2 = [x for x in lista if 'a' in x]
print(lista2)

['martes', 'sabado']

50. Usa una comprensión de lista para convertir una lista de números en una lista de cadenas.

In [7]:
lista = [1,2,3,4,5,6,7,8,9,0]
lista2 = [str(x) for x in lista]
print(lista2)

#otra forma con una funcion
def numero_a_cadena(numero):
    if numero == 0:
        return 'cero'
    elif numero == 1:
        return 'uno'
    elif numero == 2:
        return 'dos'
    elif numero == 3:
        return 'tres'
    elif numero == 4:
        return 'cuatro'
    elif numero == 5:
        return 'cinco'
    elif numero == 6:
        return 'seis'
    elif numero == 7:
        return 'siete'
    elif numero == 8:
        return 'ocho'
    elif numero == 9:
        return 'nueve'

lista2 = [numero_a_cadena(x) for x in lista]
print(lista2)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve', 'cero']

## 11. Conjuntos

51. Dado el siguiente par de conjuntos: set_1 = {2, 4, 6, 8} set_2 = {1, 2, 3, 4} 
    Escribe un código que calcule la unión de ambos conjuntos y la imprima.

In [86]:
set_1 = {2, 4, 6, 8}
set_2 = {1, 2, 3, 4}
set_3 = set_1.union(set_2)
print(set_3)

#otra forma
set_3 = set_1 | set_2
print(set_3)

{1, 2, 3, 4, 6, 8}
{1, 2, 3, 4, 6, 8}

52. Dado el siguiente par de conjuntos: set_1 = {10, 20, 30, 40} set_2 = {30, 40, 50, 60}
    Escribe un código que calcule la diferencia simétrica entre ambos conjuntos (elementos que están en uno u otro conjunto, pero no en ambos)
    y la imprima.

In [152]:
set_1 = {10, 20, 30, 40}
set_2 = {30, 40, 50, 60}
set_3 = set_1.symmetric_difference(set_2)
print("diferencia simétrica = ",set_4)

#otra forma
set_3 = set_1.intersection(set_2)
print("Interseccion =", set_3)

set_4 = set_1.difference(set_3).union(set_2.difference(set_3))
print("diferencia simétrica = ",set_4)

diferencia simétrica =  {10, 20, 50, 60}
Interseccion = {40, 30}
diferencia simétrica =  {10, 20, 50, 60}

53. Dado el siguiente par de conjuntos: set_1 = {1, 2, 3, 4, 5}  set_2 = {2, 3, 4}
    Escribe un código que determine si set_2 es un subconjunto de set_1. Imprime el resultado como `True` o `False`.

In [156]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {2, 3, 4}
print(set_2.issubset(set_1))

#otra forma
set_3 = set_2.difference(set_1)
print(len(set_3) == 0)

True
True

In [158]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {2, 3, 4, 7}
print(set_2.issubset(set_1))

#otra forma
set_3 = set_2.difference(set_1)
print(len(set_3) == 0)

False
False

54. Dada la siguiente lista: numeros = [7, 8, 8, 10, 7, 12, 15, 15, 17, 17]
    Convierte la lista en un conjunto para eliminar los elementos duplicados, y luego convierte el conjunto nuevamente a una lista. 
    Imprime la lista sin duplicados.

In [130]:
numeros = [7, 8, 8, 10, 7, 12, 15, 15, 17, 17]
set1 = set(numeros)
print(set1)
print(type(set1))
lista = list(set1)
print(lista)
print(type(lista))

{7, 8, 10, 12, 15, 17}
<class 'set'>
[7, 8, 10, 12, 15, 17]
<class 'list'>

55. Dado el siguiente par de conjuntos: set_1 = {5, 10, 15, 20}  set_2 = {10, 20, 30, 40}
    Escribe un código que calcule la intersección de ambos conjuntos y la imprima.

In [160]:
set_1 = {5, 10, 15, 20}
set_2 = {10, 20, 30, 40}
set_3 = set_1.intersection(set_2)
print("Interseccion =", set_3)

Interseccion = {10, 20}